.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  //INPUT STYLING
  &__input {
    width: 90%;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    display: block;
    font-size: 1.5rem;
    border-radius: $border-radius-small;
    border: none;
    background-color: rgba($color-white, 0.5);
    border-bottom: 5px solid transparent;
    transition: all 0.2s;

    &:focus {
      outline: none;
      border-bottom: 5px solid $color-primary;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.15);
    }

    &:focus:invalid {
      border-bottom: 5px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.7rem;
    margin-left: 2rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  //RADIO BUTTON STYLING
  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    position: relative;
    padding-left: 4rem;
    cursor: pointer;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 5px solid $color-primary;
    display: inline-block;
    position: absolute;
    top: -0.4rem;
    left: 0;

    &::after {
      content: "";
      width: 1.3rem;
      height: 1.3rem;
      display: block;
      border-radius: 50%;
      background-color: $color-primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
