.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-grey-dark-3, 0.9);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      font-size: 3rem;
      line-height: 1;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    display: table;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.8);
    border-radius: $border-radius-small;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.2s;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 4rem;
  }

  &__text {
    font-size: 1.4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid $color-grey-light-2;
  }
}
